@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.body {
  background-color: rgb(105, 106, 107);
  text-align: center;
  justify-items: center;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: #000000;
  margin-top: 10px;
}

h2 {
  color: #000000;
  font-size: 30px;
}

/* Serchbar code */
.search-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.search-header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-header__input {
  font-family: inherit;
  font-size: 16px;
  background-color: #0a0a0a;
  border: solid 0.5px #a5a0a0;
  color: #cac3c3;
  padding: 0.7rem 2.5rem 0.7rem 1rem;
  border-radius: 25px;
  width: 600px;
  height: 50px;
  transition: all ease-in-out 0.5s;
  opacity: 1;
  text-align: left;
  margin-top: 10px;
}

.search-header__button {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-header__button:hover {
  cursor: pointer;
}

.search-header__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #cec6c6;
}

/* main page css */
.dashboard {
  background: url('Wether img/main.jpeg') no-repeat center center/cover;
  height: 500px;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;
  color: white;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-right: 20px;
}

.location-info {
  text-align: left;
  font-size: 30px;
  margin-top: 10px;
  color: #000000;
}

.current-weather {
  text-align: left;
  margin-top: 100px;
  font-size: 60px;
  color: hsl(0, 0%, 100%);
}

.most-cloudy {
  text-align: left;
  font-size: 60px;
  color: hsl(0, 0%, 100%);
}

.forecast {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border-radius: 8px;
  height: 500px;
  max-width: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.forecast ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  width: 100%;
}

.forecast ul li {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  max-width: 400px;
  width: 100%;
}

.clock-container {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.clock {
  font-size: 50px;
  color: white;
}

.current-weather h1 {
  font-size: 50px;
  margin-bottom: 5px;
}

.current-weather p {
  font-size: 18px;
}

@media (max-width: 700px) {
  .content {
    flex-direction: column;
  }

  .left-side,
  .forecast {
    width: 100%;
    margin: 0;
  }

  .forecast {
    margin-top: 20px;
  }

  .current-weather h1 {
    font-size: 40px;
  }

  .current-weather p {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .dashboard {
    height: auto;
    padding: 15px;
  }

  .left-side {
    margin-right: 0;
  }

  .forecast {
    padding: 10px;
  }

  .current-weather h1 {
    font-size: 30px;
  }

  .current-weather p {
    font-size: 14px;
  }

}

.cardrow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.order-card {
  margin-top: 20px;
  border: 1px solid #dae2de;
  border-radius: 8px;
  color: #000000;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.order-card hr {
  border: 0;
  border-top: 2px solid #dae2de;
  margin: 20px 0;
}

.cardImg {
  height: 200px;
  width: 100px;
}


.wheatherUpdate {
  background: url('Wether img/Best\ HD\ Sunset\ Images\ Free\ Download.jpeg') no-repeat center center/cover;
  height: 580px;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: white;
}


.WUpdate {
  background-color: rgba(0, 0, 0, 0.616);
  font-size: 20px;
  text-align: left;
  padding: 5px;
  border-radius: 8px;
  height: 500px;
  max-width: 80%; 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Input desplay */
.wave-group {
  position: relative;
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 250px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus~label .label-char,
.wave-group .input:valid~label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #be9494;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 250px;
}

.wave-group .bar:before,
.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #be9494;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus~.bar:before,
.wave-group .input:focus~.bar:after {
  width: 50%;
}