@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background-color: rgb(105, 106, 107);
    text-align: center;
}

h1{
  font-family: "Playfair Display", serif;
  font-size: 50px;
}

/* Serchbar code */ 
.search-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.search-header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-header__input {
  font-family: inherit;
  font-size: 16px;
  background-color: #0a0a0a;
  border: solid 0.5px #a5a0a0;
  color: #cac3c3;
  padding: 0.7rem 2.5rem 0.7rem 1rem; /* Adding padding-right for space for icon */
  border-radius: 25px;
  width: 600px;
  height: 30px;
  transition: all ease-in-out 0.5s;
  opacity: 1;
  text-align: left; /* Align text to the left */
}

.search-header__button {
  position: absolute;
  right: 10px; 
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-header__button:hover {
  cursor: pointer;
}

.search-header__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #cec6c6;
}

/* main page css */
.dashboard {
  background: url('Wether img/main.jpeg') no-repeat center center/cover;
  height: 500px;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;
  color: white;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-right: 20px;
}

.location-info{
  text-align: left;
  font-size: 30px;
  margin-top: 10px;
  color: #000000;
}

.current-weather{
  text-align: left;
  margin-top: 100px;
  font-size:60px;
  color: hsl(0, 0%, 100%);
} 
.most-cloudy{
  text-align: left;
  font-size:60px;
  color: hsl(0, 0%, 100%);
}

.forecast {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  padding: 15px;
  border-radius: 8px;
  height: 500px;
  max-width: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  width: 100%;
}

.forecast ul li {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  max-width: 400px;
  width: 100%;
}

.time-container {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.time {
  font-size: 50px;
  color: white;
}

.current-weather h1 {
  font-size: 50px;
  margin-bottom: 5px;
}

.current-weather p {
  font-size: 18px;
}

@media (max-width: 768px) {
  .content {
      flex-direction: column;
  }

  .left-side, .forecast {
      width: 100%;
      margin: 0;
  }

  .forecast {
      margin-top: 20px;
  }

  .current-weather h1 {
      font-size: 40px;
  }

  .current-weather p {
      font-size: 16px;
  }
}

@media (max-width: 576px) {
  .dashboard {
      height: auto;
      padding: 15px;
  }

  .left-side {
      margin-right: 0;
  }

  .forecast {
      padding: 10px;
  }

  .current-weather h1 {
      font-size: 30px;
  }

  .current-weather p {
      font-size: 14px;
  }
  
}

.order-card {
  border: 1px solid #dae2de;
  border-radius: 8px;
  padding: 20px;
  width: 20%;
  text-align: center;
}

.order-card hr {
  border: 0;
  border-top: 1px solid #dae2de;
  margin: 10px 0;
}

.cardImg{
  height: 80px;
  width: 80px;
}
