@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    background-color: rgb(105, 106, 107);
    text-align: center;
}

h1{

  font-family: "Playfair Display", serif;
  font-size: 50px;
}

/* Serchbar code */ 
.search-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.search-header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-header__input {
  font-family: inherit;
  font-size: 16px;
  background-color: #0a0a0a;
  border: solid 0.5px #a5a0a0;
  color: #cac3c3;
  padding: 0.7rem 2.5rem 0.7rem 1rem; /* Adding padding-right for space for icon */
  border-radius: 25px;
  width: 600px;
  height: 30px;
  transition: all ease-in-out 0.5s;
  opacity: 1;
  text-align: left; /* Align text to the left */
}

.search-header__button {
  position: absolute;
  right: 10px; 
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-header__button:hover {
  cursor: pointer;
}

.search-header__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #cec6c6;
}

.dashboard {
  background: url('Wether img/main.jpeg') no-repeat center center/cover;
  /* width: 500%; */
  height:500px;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  margin-top: 30px;
}


.content {
  display: flex;
  height:460px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 8px;
}

.location-info {
  color: white;
}

.forecast ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.forecast ul li {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.current-weather {
  text-align: center;
  color: white;
}

.current-weather h1 {
  font-size: 50px;
  margin-bottom: 5px;
}

.current-weather p {
  font-size: 18px;
}

.time {
  margin-top: 10px;
}
